.project-div{
    position: absolute;
    top: 20%;
}
.project-heading{
    font-size: 25px;
    font-weight: 800;
}
.highlights{
    color: orange;
}
.project-box{
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 10px rgb(153, 101, 202);
    margin:15px;
    border-radius: 10px;  
}
.box-head{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: lightblue;
}
.high{
    color: yellow;
}
.btn a{
    text-decoration: none;
    color:white;
}
.btn a:hover{
    color: black;
}
